<th:block th:fragment="mainIndexUser">
    <!-- Page Heading -->
    <div class="mb-4">
        <!--        <h1 class="h3 mb-0 text-gray-800">메인화면</h1>-->
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-5 col-md-12 mb-4">
            <div class="card border-left-primary shadow h-100 py-1">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                놀이터 이름
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${pg.pgName}">개판
                                오분전 공원
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-2 col-md-4 mb-4">
            <div class="card border-left-red shadow h-100 py-1">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-red text-uppercase mb-1">
                                놀이터 관리자
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"
                                 th:text="${pg.user != null} ? ${pg.user.name} : 'None'"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-2 col-md-4 mb-4">
            <div class="card border-left-purle shadow h-100 py-1">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-purple text-uppercase mb-1">
                                현재 이용자 수
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                <span class="text-purple" th:text="${userNum}">0 </span> / <span>30</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-4 mb-4">
            <div class="card shadow h-100 py-1" style="color: #dd954d; border-left: 4px solid #dd954d">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">
                                예약 인원
                            </div>
                            <div class="h5 mb-0 font-weight-bold">
                                <span class="text-purple" th:text="${reservationNum}">0</span>
                            </div>
                        </div>
                        <div class="col-auto ">
                            <div th:if="${entry}">
                                <form th:method="delete" action="/user/reservation">
                                    <input name="id" th:value="${entry.id}" hidden/>
                                    <input name="playgroundId" th:value="${pg.id}" hidden/>
                                    <button type="submit" class="btn btn-warning btn-sm font-weight-bold" >예약취소</button>
                                </form>
                            </div>
                            <div th:unless="${entry}">
                                <form method="post" action="/user/reservation">
                                    <input name="playgroundId" th:value="${pg.id}" hidden/>
                                    <button type="submit" class="btn btn-outline-warning btn-sm font-weight-bold" style="color: #dd954d; border-color: #dd954d; border-width: 2px;">예약하기</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row h-100">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">놀이터 위치</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="map" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6c17a22e95f421aa566af7eb9a3fa2ea"></script>

    <script th:inline="javascript">
        let lat = [[${pg.lat}]];
        lat = Number(RegExp(/[0-9.]+/g).exec(lat)[0]);
        console.log(lat)
        let lng = Number([[${pg.lng}]]);
        lng = Number(RegExp(/[0-9.]+/g).exec(lng)[0])
        console.log(lng)


        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(lng, lat), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커가 표시될 위치입니다
        var markerPosition = new kakao.maps.LatLng(lng, lat);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
        // marker.setMap(null);
    </script>
</th:block>