<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/commonHead :: header"></th:block>

    <!-- Custom styles for this page -->
    <link type="text/css" href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style>
        .text-red {
            color: darkred;
        }

        .border-left-red {
            border-left: 4px solid darkred;
        }

        .text-purple {
            color: rebeccapurple;
        }

        .border-left-purle {
            border-left: 4px solid rebeccapurple;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="fragments/topbar :: topbar"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>
                </div>

                <!-- DataTales -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">놀이터 전체 출입 기록</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>성명</th>
                                    <th>생년월일</th>
                                    <th>전화번호</th>
                                    <th>거주지</th>
                                    <th>동물등록번호</th>
                                    <th>입장시간</th>
                                    <th>퇴장시간</th>
                                    <th>예약번호</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Index</th>
                                    <th>성명</th>
                                    <th>생년월일</th>
                                    <th>전화번호</th>
                                    <th>거주지</th>
                                    <th>동물등록번호</th>
                                    <th>입장시간</th>
                                    <th>퇴장시간</th>
                                    <th>예약번호</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <th:block th:each="entry : ${entries}">
                                    <tr>
                                        <td th:text="${entryStat.index}+1">Index</td>
                                        <td th:text="${users.get(entryStat.index).name}">이름</td>
                                        <td th:text="${users.get(entryStat.index).birth}">생년월일</td>
                                        <td th:text="${users.get(entryStat.index).phoneNumber}">전화번호</td>
                                        <td th:text="${users.get(entryStat.index).residence}">거주지</td>
                                        <td th:text="${users.get(entryStat.index).dogNum}">강아지 번호</td>
                                        <td th:text="${#temporals.format(entry.updatedAt,'yyyy-MM-dd HH:mm:ss')}">입장</td>
                                        <td th:text="${#temporals.format(entry.createdAt,'yyyy-MM-dd HH:mm:ss')}">퇴장</td>
                                        <td th:text="${entry.id}">예약번호</td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <footer th:replace="fragments/footer"></footer>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<script th:replace="fragments/core-js :: core-js"></script>
<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/js/demo/datatables-demo.js"></script>
<script th:inline="javascript">
    var notices = [[ ${notices} ]]

    function httpAlertGet()
    {
        url1 = "http://3.34.74.19:8080/api/alert"
        url2 = "http://localhost:8080/api/alert"
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", url1, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
    function httpTrashGet()
    {
        url1 = "http://3.34.74.19:8080/api/trash"
        url2 = "http://localhost:8080/api/trash"
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", url1, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
    // //알림 권한 요청
    // function getNotificationPermission() {
    //     // 브라우저 지원 여부 체크
    //     if (!("Notification" in window)) {
    //         alert("데스크톱 알림을 지원하지 않는 브라우저입니다.");
    //     }
    //     // 데스크탑 알림 권한 요청
    //     Notification.requestPermission(function (result) {
    //         // 권한 거절
    //         if(result == 'denied') {
    //             alert('알림을 차단하셨습니다.\n브라우저의 사이트 설정에서 변경하실 수 있습니다.');
    //             return false;
    //         }
    //     });
    // }
    // 알림 띄우기
    function notify(msg, time, mark) {
        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-left',
            showConfirmButton: false,
            timer: time,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseclick', Swal.close)
                // toast.addEventListener('mouseleave', Swal.Close)
            }
        })

        Toast.fire({
            icon: mark,
            title: msg
        })
    }
    function notify2(msg, time, mark) {
        Swal.fire(
            '새 알림',         // Alert 제목
            msg,  // Alert 내용
            mark,                         // Alert 타입
        );
    }
    function checkAndAlam1() {
        signAlert = httpAlertGet();
        if (signAlert === "1") {
            notify("이용자가 호출하였습니다.", 30000, 'question');
        }
    }
    function checkAndAlam2() {
        signTrash = httpTrashGet();
        if (signTrash === "1") {
            notify2("배변봉투함이 가득 찬 상태입니다.", 30000, 'info');
        }
    }
    // getNotificationPermission();
    setInterval(checkAndAlam2, 5000);  // 배변봉투함 : (5분 단위로 확인)
    setInterval(checkAndAlam1, 5000);    // 이용자 알림 : 단위로 확인)

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>