<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <th:block th:replace="fragments/commonHead :: header"></th:block>
    <style>
        .card-header-text {
            font-size: 1.25rem;
            font-weight: bold;
            color: black;
        }

        .put-area-outer {
            border: 5px solid rgb(156, 184, 236);

            border-radius: 10px;
        }

        .put-area-inner {
            color: rgb(93, 141, 231);
        }

        .put-area-inner:hover {
            color: rgb(32, 101, 228);
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="fragments/topbar :: topbar"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="mb-4">
                    <h1 class="h3 mt-5 text-gray-800">놀이터 공지사항 추가,삭제 및 수정</h1>

                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-10 mb-5 px-0" th:each="notice : ${notices}">
                        <div class="card shadow">
                            <div class="card card-header p-3 flex-row justify-content-between">
                                <div><span class="card-header-text" th:text="${notice.id}+'. '">index. </span>
                                    <span class="card-header-text" th:id="'card-header-'+${notice.id}"
                                          th:text="${notice.subject}">제목</span>
                                </div>
                                <a class="align-self-center" data-toggle="collapse"
                                   th:href="'#collapseContent'+${notice.id}"
                                   role="button" aria-expanded="false" th:aria-controls="'collapseExample'+${notice.id}">
                                    <i class="card-header-text text-gray-500 fas fa-caret-down"
                                       style="font-size: 1.75rem"></i>
                                </a>
                            </div>
                            <div class="collapse" th:id="'collapseContent'+${notice.id}">
                                <div class="card card-body pt-4">
                                    <div th:id="'card-body-'+${notice.id}" th:text="${notice.content}">내용
                                    </div>
                                    <div>
                                        <ul class="navbar-nav flex-row mt-4 justify-content-end pr-4">
                                            <li class="mr-4" role="button" data-toggle="modal"
                                                th:data-target="'#editModal'+${notice.id}">
                                                <i class="fas fa-edit text-primary">&nbsp내용 수정</i>
                                            </li>
                                            <li role="button" data-toggle="modal"
                                                th:data-target="'#deleteModal'+${notice.id}">
                                                <i class="fas fa-trash text-primary">&nbsp삭제</i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delete Modal -->
                        <div class="modal fade" th:id="'deleteModal'+${notice.id}" tabindex="-1" role="dialog"
                             th:aria-labelledby="'deleteModalLabel'+${notice.id}"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:id="'deleteModalLabel'+${notice.id}">알림</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        정말로 삭제하시겠습니까?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">아니오
                                        </button>
                                        <form th:method="delete" action="/manager/notices">
                                            <input name="id" th:value="${notice.id}" hidden>
                                            <button type="submit" class="btn btn-primary">삭제</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Edit Modal -->
                        <div class="modal fade" th:id="'editModal'+${notice.id}" tabindex="-1" role="dialog"
                             th:aria-labelledby="'editModalLabel'+${notice.id}"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title modal-title-edit"
                                            th:id="'editModalLabel'+${notice.id}">내용 수정</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form th:method="put" th:action="@{/manager/notices}">
                                        <div class="modal-body modal-body-edit">
                                            <div class="form-group">
                                                <label th:for="'modal-edit-subject'+${notice.id}"
                                                       class="col-form-label">제목</label>
                                                <input type="text" name="subject" class="form-control"
                                                       th:id="'modal-edit-subject'+${notice.id}"
                                                       th:value="${notice.subject}">
                                            </div>
                                            <div class="form-group">
                                                <label th:for="'modal-edit-message-text'+${notice.id}"
                                                       class="col-form-label">내용</label>
                                                <textarea class="form-control" name="content"
                                                          th:id="'modal-edit-message-text'+${notice.id}"
                                                          th:text="${notice.content}"></textarea>
                                            </div>
                                            <input type="text" name="id" th:value="${notice.id}" hidden>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기
                                            </button>
                                            <button type="submit" class="btn btn-primary">완료</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-10 row justify-content-center py-4 px-0 put-area-outer">
                        <a role="button" data-toggle="modal" data-target="#postModal">
                            <i class="fa fa-plus put-area-inner" style="font-size: 1.75rem;"></i>
                        </a>
                    </div>
                </div>

            </div>


        </div>
        <!-- End of Main Content -->

        <footer th:replace="fragments/footer"></footer>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- post Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postModalLabel">추가하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/manager/notices">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="modal-post-subject" class="col-form-label">제목</label>
                        <input type="text" class="form-control" id="modal-post-subject" name="subject">
                    </div>
                    <div class="form-group">
                        <label for="modal-post-content" class="col-form-label">내용</label>
                        <textarea class="form-control" id="modal-post-content" name="content"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary">완료</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments/core-js :: core-js"></script>

<script th:inline="javascript">
    var notices = [[ ${notices} ]]

    function httpAlertGet()
    {
        url1 = "http://3.34.74.19:8080/api/alert"
        url2 = "http://localhost:8080/api/alert"
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", url1, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
    function httpTrashGet()
    {
        url1 = "http://3.34.74.19:8080/api/trash"
        url2 = "http://localhost:8080/api/trash"
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", url1, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
    // //알림 권한 요청
    // function getNotificationPermission() {
    //     // 브라우저 지원 여부 체크
    //     if (!("Notification" in window)) {
    //         alert("데스크톱 알림을 지원하지 않는 브라우저입니다.");
    //     }
    //     // 데스크탑 알림 권한 요청
    //     Notification.requestPermission(function (result) {
    //         // 권한 거절
    //         if(result == 'denied') {
    //             alert('알림을 차단하셨습니다.\n브라우저의 사이트 설정에서 변경하실 수 있습니다.');
    //             return false;
    //         }
    //     });
    // }
    // 알림 띄우기
    function notify(msg, time, mark) {
        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-left',
            showConfirmButton: false,
            timer: time,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseclick', Swal.close)
                // toast.addEventListener('mouseleave', Swal.Close)
            }
        })

        Toast.fire({
            icon: mark,
            title: msg
        })
    }
    function notify2(msg, time, mark) {
        Swal.fire(
            '새 알림',         // Alert 제목
            msg,  // Alert 내용
            mark,                         // Alert 타입
        );
    }
    function checkAndAlam1() {
        signAlert = httpAlertGet();
        if (signAlert === "1") {
            notify("이용자가 호출하였습니다.", 30000, 'question');
        }
    }
    function checkAndAlam2() {
        signTrash = httpTrashGet();
        if (signTrash === "1") {
            notify2("배변봉투함이 가득 찬 상태입니다.", 30000, 'info');
        }
    }
    // getNotificationPermission();
    setInterval(checkAndAlam2, 5000);  // 배변봉투함 : (5분 단위로 확인)
    setInterval(checkAndAlam1, 5000);    // 이용자 알림 : 단위로 확인)

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>